In [2]:
!pip install faiss-cpu

Requirement already satisfied: faiss-cpu in c:\users\tkoti\anaconda3\lib\site-packages (1.7.4)

In [3]:
!pip install sentence-transformers

^C

In [4]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)

In [5]:
df = pd.read_csv("Downloads/sample_text.csv")
df.shape

(8, 2)

In [6]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [7]:
from sentence_transformers import SentenceTransformer

In [8]:
encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)

In [9]:
vectors.shape

(8, 768)

In [10]:
dim = vectors.shape[1]
dim

768

In [11]:
import faiss

index = faiss.IndexFlatL2(dim)

In [12]:
index.add(vectors)

In [13]:
index

In [14]:
search_query = "I want to buy a polo t-shirt"
# search_query = "looking for places to visit during the holidays"
# search_query = "An apple a day keeps the doctor away"
vec = encoder.encode(search_query)
vec.shape

(768,)

In [15]:
import numpy as np
svec = np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

In [ ]:
# Assuming index.search returns a tuple of distances and indices

In [17]:
distances, I = index.search(svec,k = 2)

In [18]:
I

array([[3, 2]], dtype=int64)

In [20]:
df.loc[[3,2]]

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion

In [22]:
df.loc[I[0]]

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion

In [23]:
search_query

'I want to buy a polo t-shirt'